{% extends 'main/base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-6">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p>Хотите удалить материал "{{object.title}}"?</p>
                                <button type="submit" class="btn btn-warning">Подтвердить</button>
                            <a class="btn-btn-warning" href="{% url 'materials:list' %}">Отмена</a>
                        </form>
                    </div>
                </div>
            </div>
        <div>
    </div>
{% endblock %}
